.container {
    position: relative;
    height: 100px;
    /* Default height */
    overflow: hidden;
}

/* Small devices (up to 767px) */
@media (max-width: 767px) {
    .container {
        height: 200px;
    }
}

/* Medium devices (768px to 991px) */
@media (min-width: 600px) and (max-width: 991px) {
    .container {
        height: 100px;
    }
}

/* Large devices (992px and up) */
@media (min-width: 992px) {
    .container {
        height: 100px;
    }
}

.paragraph {
    position: absolute;
    width: 100%;
    opacity: 0;
    left: -100%;
    font-weight: bolder;
    /* Start off-screen to the left */
    transition: all 2.5s ease;
}

.slide-in {
    opacity: 1;
    left: 0;
    font-weight: bolder;
    /* Slide in to the left edge of the container */
}

.slide-out {
    opacity: 0;
    left: -100%;
    /* Slide out to the left off the screen */
}